.logo {
    width: 65px;
    height: 65px;
}

* {
    font-family: "Inter";
}

.text-navbar {
    font-size: 12px;
}

.img-card {
    height: 151px;
    width: 151px;
    
}

.text-button{
    font-size: 12px;
    font-weight: 900;
    color: white;
}
