<footer class="my-3">
    <div class="container d-flex justify-content-between align-items-center">
        <col-4 class="d-flex flex-column">
            <img src="../assets/img/logo-name.png" alt="logo name" style="height: 103px;">
            <div class="d-flex align-items-center my-2 justify-content-center gap-2">
                <a href="#"><img src="../assets/img/instagram.png" alt="instagram" style="width: 23px;"></a>
                <a href="#"><img src="../assets/img/linkedin.png" alt="instagram" style="width: 23px;"></a>
                <a href="#"><img src="../assets/img/whatsapp.png" alt="instagram" style="width: 23px;"></a>
                <a href="#"><img src="../assets/img/gmail.png" alt="instagram" style="width: 23px;"></a>
            </div>
        </col-4>
        <col-4 class="d-flex flex-column gap-3 align-items-center">
            <li class="nav-item d-flex flex-row align-items-center">
                <a class="rounded-pill btn text-button px-5 py-2" style="background-color: #FACB23;"
                    href="../../Quiz.html">BUSCA
                    INTELIGENTE</a>
            </li>
            <li class="nav-item d-flex flex-row align-items-center">
                <a class="rounded-pill btn text-button px-5 py-2" style="background-color: #FACB23;" href="contact.html">TIRE
                    SUAS DUVIDAS</a>
            </li>
        </col-4>
        <col-4 class="d-flex flex-column gap-3 align-items-center">
            <li class="nav-item d-flex flex-row align-items-center">
                <a class="rounded-pill btn text-button px-5 py-2" style="background-color: #FACB23;"
                    href="login.html">ACESSE SUA CONTA</a>
            </li>
            <li class="nav-item d-flex flex-row align-items-center">
                <a class="rounded-pill btn text-button px-5 py-2" style="background-color: #FACB23;"
                    href="cadastro.html">CRIE
                    SUA
                    CONTA</a>
            </li>
        </col-4>
    </div>
</footer>