<nav id="header" class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logo" src="../assets/img/logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex d-inline w-100 justify-content-around">
                <li class="nav-item d-flex flex-row align-items-center">
                    <a class="nav-link active text-navbar" aria-current="page" href="index.html">INÍCIO</a>
                    <i class="bi bi-arrow-down-short" style="color: #FACB23;"></i>
                </li>
                <li class="nav-item d-flex flex-row align-items-center">
                    <a class="nav-link text-navbar" href="#diferencial">NOSSOS DIFERENCIAL</a>
                    <i class="bi bi-arrow-down-short" style="color: #FACB23;"></i>
                </li>
                <li class="nav-item d-flex flex-row align-items-center">
                    <a class="nav-link text-navbar" href="contact.html">TIRE SUAS DUVIDAS</a>
                    <i class="bi bi-arrow-down-short" style="color: #FACB23;"></i>
                </li>
                <li class="nav-item d-flex flex-row align-items-center">
                    <a class="rounded-pill btn text-button px-5 py-2" style="background-color: #FACB23;"
                        href="../../Quiz.html">BUSCA
                        INTELIGENTE</a>
                </li>
                <li class="nav-item d-flex flex-row align-items-center">
                    <a class="nav-link text-navbar" href="login.html">ACESSE SUA CONTA</a>
                </li>
                <li class="nav-item d-flex flex-row align-items-center">
                    <a class="rounded-pill btn text-button" style="background-color: #FACB23;"
                        href="cadastro.html">CRIAR
                        SUA
                        CONTA</a>
                </li>
            </ul>
        </div>
    </div>
</nav>